{% if site.teachings %}
  <div class="courses">
    {% assign sorted_courses = site.teachings | sort: 'year' | reverse %}
    <div class="course-list">
      {% for course in sorted_courses %}
        <div class="course-item">
          <h5 class="course-title">
            <a href="{{ course.url | relative_url }}">{{ course.title }}</a>
          </h5>

          <div class="course-meta">
            {% if course.description %}
              <span class="course-description">{{ course.description }}</span>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% else %}
  <p>No courses available yet.</p>
{% endif %}
