{% assign repo_url = include.repository | split: '/' %}

<div class="repo-card" data-repo="{{ include.repository }}">
  <a href="https://github.com/{{ include.repository }}" target="_blank" rel="noopener noreferrer">
    <div class="repo-card-inner">
      <div class="repo-card-header">
        <i class="fa-brands fa-github repo-card-icon"></i>
        <span class="repo-card-name">{{ repo_url[1] }}</span>
      </div>
      <p class="repo-card-desc"></p>
      <div class="repo-card-meta">
        <span class="repo-card-lang">
          <span class="repo-card-lang-dot"></span>
          <span class="repo-card-lang-name"></span>
        </span>
        <span class="repo-card-stars">
          <i class="fa-solid fa-star"></i>
          <span class="repo-card-stars-count">0</span>
        </span>
      </div>
    </div>
  </a>
</div>
